
.loader {

  width: 100px;
  height: 100px;
  background-color: aqua;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid lightblue;
  border-right-color: orange;
  animation: l2 1s infinite linear;
}
.loader{
    align-items: center;
}
@keyframes l2 {to{transform: rotate(1turn)}}
.d-flex{
    display: flex;
}
.loader2 {
    display: flex;
    width: 100px;
    height: 100px;
    margin-top: 40px;
    color: #f03355;
    background:
      conic-gradient(from  -45deg at top    20px left 50% ,#0000 ,currentColor 1deg 90deg,#0000 91deg),
      conic-gradient(from   45deg at right  20px top  50% ,#0000 ,currentColor 1deg 90deg,#0000 91deg),
      conic-gradient(from  135deg at bottom 20px left 50% ,#0000 ,currentColor 1deg 90deg,#0000 91deg),
      conic-gradient(from -135deg at left   20px top  50% ,#0000 ,currentColor 1deg 90deg,#0000 91deg);
    animation: l4 1.5s infinite cubic-bezier(0.3,1,0,1);
  }
  @keyframes l4 {
     50%  {width:60px;height: 60px;transform: rotate(180deg)}
     100% {transform: rotate(360deg)}
  }

  /* HTML: <div class="loader"></div> */
.loader3 {
    margin-top: 50px;
    width: 120px;
    height: 20px;
    border-radius: 20px;
    background:
     radial-gradient(farthest-side,orange 94%,#0000) left/20px 20px no-repeat
     lightblue;
    animation: l2 1s infinite linear;
  }
  @keyframes l2 {
      50% {background-position:right }
  }

  /* HTML: <div class="loader"></div> */
.loader4 {
    margin-top: 20px;
    margin-left: 50px;
    height: 80px;
    width: 20px;
    color: #514b82;
    background:
      radial-gradient(farthest-side,currentColor 94%,#0000 ) top/8px 8px,
      linear-gradient(currentColor 0 0) top/4px 70%,
      conic-gradient(from -30deg at bottom,#0000,currentColor 2deg 58deg,#0000 60deg) bottom            /100% 20px,
      conic-gradient(from 150deg at top   ,#0000,currentColor 2deg 58deg,#0000 60deg) bottom 20px left 0/100% 20px;
    background-repeat: no-repeat;
    transform-origin: 50% 4px;
    animation: l15 2s infinite cubic-bezier(0.5,300,0.5,-300);
  }
  @keyframes l15 { 
   100% {transform: rotate(0.5deg)}
  }

  /* HTML: <div class="loader"></div> */
.loader5 {
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l11 2s infinite;
  }
  @keyframes l11 {
    0%   {background: conic-gradient(#f03355 0     ,#0000 0)}
    12.5%{background: conic-gradient(#f03355 45deg ,#0000 46deg)}
    25%  {background: conic-gradient(#f03355 90deg ,#0000 91deg)}
    37.5%{background: conic-gradient(#f03355 135deg,#0000 136deg)}
    50%  {background: conic-gradient(#f03355 180deg,#0000 181deg)}
    62.5%{background: conic-gradient(#f03355 225deg,#0000 226deg)}
    75%  {background: conic-gradient(#f03355 270deg,#0000 271deg)}
    87.5%{background: conic-gradient(#f03355 315deg,#0000 316deg)}
    100% {background: conic-gradient(#f03355 360deg,#0000 360deg)}
  }