* {
    margin: 0;
    box-sizing: border-box;
  }

  .container {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--gutter-width);
    padding-right: var(--gutter-width);
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--gutter-width));
    margin-right: calc(-1 * var(--gutter-width));
  }

  .w-1 {
    width: 8.3333%;
  }

  .w-2 {
    width: 16.6666%;
  }

  .w-3 {
    width: 25%;
  }

  .w-4 {
    width: 33.3333%;
  }

  .w-5 {
    width: 41.6666%;
  }

  .w-6 {
    width: 50%;
  }

  .w-7 {
    width: 58.3333%;
  }

  .w-8 {
    width: 66.6666%;
  }

  .w-9 {
    width: 75%;
  }

  .w-10 {
    width: 83.3333%;
  }

  .w-11 {
    width: 91.6666%;
  }

  .w-12 {
    width: 100%;
  }

  .w-1, .w-2, .w-3, .w-4, .w-5, .w-6, .w-7, .w-8, .w-9, .w-10, .w-11, .w-12 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .justify-start {
    justify-content: flex-start;
  }

  .justify-center {
    justify-content: center;
  }

  .justify-end {
    justify-content: flex-end;
  }

  .justify-between {
    justify-content: space-between;
  }

  .justify-around {
    justify-content: space-around;
  }

  .justify-evenly {
    justify-content: space-evenly;
  }

  .aline-start {
    justify-content: flex-start;
  }

  .align-center {
    justify-content: center;
  }

  .align-end {
    justify-content: flex-end;
  }

  .align-center{
    align-items: center;
  }
  .d-flex{
    display:flex;
  }
  .align-center{
    text-align: center;
  }

  /* header */
body{
  background-color: #EFEFF6;
}
.header{
  width: 100%;
	padding: 10px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
}
.search-container {
  text-align: center;
  margin-right: 10px;
}
.search-box {
  padding: 10px;
  border: 1px solid rgb(152, 148, 148)12, 201, 201)
  border-radius: 5px;
  width: 300px;
  max-width: 100%;
  box-sizing: border-box;
}

.menu{
	padding-right: 20px;
  margin-top: 5PX;
}
.icon{
padding-right: 20px;
}
.profile{
	padding-right: 20px;
}
.profile img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.search.menu img{
    width: 16px;
    height: 16px;
}

.ico a{
	color: #000000;
}
.ico{
  margin-right: 20PX;
  margin-top: 10PX;
}
.menubar{
  font-family: sans-serif;
  padding-bottom: 10px;
	position: fixed;
  top: 60px;
  left: 0;
	width: 300px;
	height: 100vh;
	background-color: #3b3d48;
	/* border-left: 10px solid  blue; */
	overflow-y: scroll;
}
.menubar ul{
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.menubar ul li{
	position: relative;
	width: 100%;
	list-style: none;
	/* border-top-left-radius:30px;
	border-bottom-left-radius:30px; */
}
.menubar ul li a{
	position: relative;
	display: block;
	width: 100%;
	display: flex;
	text-decoration: none;
	color: #71748d;
}
.menubar ul li:hover a{
	color: white;
}
.menubar ul li:hover{
  background-color: black;
}
.menubar ul li:hover h5 a{
  background-color: none;
}
.menubar ul li a .icon{
	position: relative;
	display: block;
	min-width: 60px;
	height: 60px;
	line-height: 75px;
	text-align: center;
}

.menubar ul li a .title{
	position: relative;
	display: block;
	padding: 0 10px;
	height: 60px;
	line-height: 60px;
	text-align: start;
	white-space: nowrap;
}

.chart{
  margin-top: 10px;
  font-family: sans-serif;
}
.box{
  background-color: white;
  width: 250px;
  height: 128px;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  border:blue;
  font-family: sans-serif;
  border-top: 3px solid blue;
  
}

.boxx{

  transition: 0.5s;
	overflow: hidden; 


}
.box1{
  width: 520px;
  height: 423px;
  border-radius: 10px;
  margin: 10px;
  background-color: white;
}
.box2{
  width: 250px;
  height: 423px;
  border-radius: 10px;
  margin: 10px;
  background-color: white;
}
.box3{
  width: 250px;
  height: 423px;
  border-radius: 10px;
  margin: 10px;
  background-color: white;
}
.Recent-Orders{
  margin-left: 340px;
  font-family: sans-serif;
}
.Recent-Orders ul li{
  list-style: none;
}
.Recent-Orders ul li a{
  text-decoration: none;
  margin: 10px;
}
.index{
  background-color: #EFEFF6;
  padding-top: 20px;
  padding-bottom: 20px;
}
.heding{
  background-color: white;
  padding: 10px 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid rgb(180, 172, 172);
  margin-top: 20px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #EFEFF6;
}
td{
  background-color: white;
}
.w-8{
  width: 815px;
}
.main-area{
	height: 100vh;
	background-color:#EFEFF6;
  position: relative;
  top: 60px;
  z-index: -3;
	/* border-left: 10px solid  blue; */
	transition: 0.5s;
  margin-left: 330px;
}
.Table img{
  width: 45px;
  height: 45px;
  background-color: white;
}
.ch1{
  width: 550px;
  height: 396px;
  background-color: white;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 20px;
}
.ch2{
  width:480px;
  height: 396px;
  margin-top: 20px;
  margin-left: 40px;
  background-color: white;
  border-radius: 10px;
}


/* logn-form */
.login-form{
  background-color:#77777d;
  max-width: 400px;
  border: 1px solid black;
  padding: 30px 60px;
  margin-top: 200px;
  margin-left: 540px;
}
.user input{
  margin-bottom: 20px;
  padding: 10px 20px;
}
.password input{
  margin-bottom: 20px;
  padding: 10px 20px;
}
.login-form h2{
  margin-bottom: 20px;
}
input{
  width: 100%;
}

button{
  padding: 15px 100px;
  margin-bottom: 20px;
}
button a{
  text-decoration: none;
}
button:hover{
  background-color:#77777d;
  color: white;
}
button a:hover{
  color: white;
}
.Social{
  margin-top: 20px;
}
.bx1{
  border: 2px solid rgb(169, 169, 237);
  padding-top: 10px;
  width: 250px;
  height: 200px;
  margin: 10px;
  background-color: white;
}
.bx{
  font-family: sans-serif;
  display: flex;
}
.bx h2{
  margin-left: 50px;
}
.sub-dropdown ul{
  margin-top: 60px;
  margin-left: 50px;
}
.sub-dropdown { 
  margin-bottom: 20px;
}
td img{
  width: 36px;
}
.table2 {
  margin-top: 20px;
  padding-bottom: 50px;
}

